<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title><%= config.title %></title>

    <%# https://github.com/sindresorhus/github-markdown-css %>
    <%- css('css/style.css', 'css/github-markdown.css') %>
    <%# highlight 自带 js\css ，额外支持了 Protocol Buffers（https://highlightjs.org/download/），注意与上面 github-markdown 有一定冲突 %>
    <%- css('css/hlj/stackoverflow-light.css') %>
    <%- js('js/highlight.pack.js') %>
</head>
<body>
    <%- partial('_partial/sidebar') %>
    <div class="content">
        <%- body %>
    </div>
    <%- partial('_partial/footer') %>
    
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
