<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title><%= config.title %></title>
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"-->
    <!-- <link href="https://raw.githubusercontent.com/sindresorhus/github-markdown-css/main/github-markdown.css" rel="stylesheet"> -->
    <%- css('css/style.css', 'css/github-markdown.css') %>

</head>
<body>
    <%- partial('_partial/sidebar') %>
    <div class="content">
        <!--%- partial('_partial/header') %-->
        <%- body %>
    </div>
    <%- partial('_partial/footer') %>
</body>
</html>